import React from 'react';
import useStyles from './style';

const {{pascalCase name}} = props => {

    const classes = useStyles();

    return (
        <div>
            {{pascalCase name}}
        </div>
    );
};

export default {{pascalCase name}};
