import React from 'react';
import styles from './{{pascalCase name}}.scss';

const {{pascalCase name}} = props => {
    return (
        <div className={styles.main}>
            {{pascalCase name}}
        </div>
    );
};

export default {{pascalCase name}};
